<div class="categories-menu">
    <div id="content">
        <button (click)="selectCategory(0)"
        [class.active]="selectedCategory === 0">ВСЕ КАТЕГОРИИ</button>
        <button (click)="selectCategory(1)"
        [class.active]="selectedCategory === 1">ТЕЛЕФОНЫ И <br>ГАДЖЕТЫ</button>
        <button (click)="selectCategory(2)"
        [class.active]="selectedCategory === 2">БЫТОВАЯ <br>ТЕХНИКА</button>
        <button (click)="selectCategory(3)"
        [class.active]="selectedCategory === 3">ТВ,<br> АУДИО,<br> ВИДЕО</button>
        <button (click)="selectCategory(4)"
        [class.active]="selectedCategory === 4">КОМПЬЮТЕРЫ</button>
        <button (click)="selectCategory(5)"
        [class.active]="selectedCategory === 5">МЕБЕЛЬ</button>
        <button (click)="selectCategory(6)"
        [class.active]="selectedCategory === 6">КРАСОТА,<br> ЗДОРОВЬЕ</button>
        <button (click)="selectCategory(7)"
        [class.active]="selectedCategory === 7">ДЕТСКИЕ<br> ТОВАРЫ</button>
        <button (click)="selectCategory(8)"
        [class.active]="selectedCategory === 8">АПТЕКА</button>
    </div>
</div>
