    <!-- <ul>
    <li>Все категории(1423866)</li>
        <ul>
        <li>Телефоны и <br>гаджеты (1423866)</li>
        <ul>
            <li>Аксессуары для <br>телефонов (1395809)</li>
            <li>Смартфоны (8586)</li>
            <li>Смарт-часы (2760)</li>
            <li>Гаджеты (2170)</li>
            <li>Аксессуары для смарт-<br>часов и фитнесс<br> браслетов (13949)</li>
            <li>Мобильные <br>телефоны (105)</li>
            <li>Смарт-очки (227)</li>
            <li>Проводные<br> телефоны (125)</li>
            <li>Радиотелефоны (124)</li>
            <li>Спутниковые телефоны<br> и коммуникаторы (11)</li>
        </ul>
        </ul>
    </ul> -->
