    body{
        margin:0;
        padding: 0;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    }

    #main_content{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 110vh;
        gap: 40px;
        border-bottom: 1px solid #dbdbdb;
        /* padding-bottom: 10px; */
    }

    #page_desc, #page_form{
        box-sizing: border-box;
        /* align-items: center;; */
    }

    #page_part_right{
        display: flex;
        flex-direction: row;
        /* align-items: stretch; */
        justify-content: center;
        gap: 50px;   
        flex-shrink: 1;
        height: 100%;
    }

    #page_desc{
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 45%;
        height: 100%;
        /* gap:20px; */
        min-width: 0;
        /* min-height: 690px; */
        
    }

    #img_main{
        /* min-height: 29px; */
        /* min-width: 50px; */
        /* width:calc(100vw - 780px); */
        /* width: 59px; */
        width:58%;
        overflow: clip;
        margin-left:-1vw;
    }

    #page_desc_text_div{
        text-align: center;
        line-height: 1.67;
        letter-spacing: -0.3px;
        margin-bottom: -36px;
        margin-left: 2vw;
        width: 90%;
    }

    #img_instagram_logo{
        width: 75px;
        height: auto;
        align-self: flex-start;
        margin-top:51px;
        margin-bottom: -38px;
        /* margin-left: 0px; */
        /* padding-bottom: 20px; */
        /* margin-left:-300px; */

        /* margin-bottom: 20px; */
        /* padding-left:20px ; */
    }

    #img_meta_logo{
        width:65px;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    #img_facebook_logo{
        width:23px;
        /* padding-top: 10px; */
        /* top: 20px; */
    }

    #vertical_line{
        /* border-left: 1px solid #dbdbdb;
        width: 2px;
        max-width: 2px;
        /* height: 400px; */
        /* height: 100%;  */
        width: 2px;
        background-color: #dbdbdb; /* вместо border-left */
    }


    #page_form{
        /* font-family: var(--font-family-system); */
        min-width: 550px;
        max-width: 650px;
        /* align-items: center; */

        display: flex;
        flex-direction: column;
        /* flex-direction: row; */
        /* display: block; */

        margin-top:14%;
    }

    h3{
        /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; */
        font-stretch: var( 100%);
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 16px;
        margin-left: 2px;
    }

    h1{
        font-family:Instagram Sans Regular !important;
        font-weight: 400;   
        font-size: 2.83vw;
    }

    #text_gradient{
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-image: linear-gradient(to right, #ff5c00, #ff0069, #d300c5);
    }

.form_elements{
    /* width:290px; */
    box-sizing:border-box;
    display:block;
    width: 100%;
    margin-bottom: 10px;
    margin-left:2px;
    /* margin-bottom:6px; */
    margin-top:6px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

    font-size: 16px;
    border-radius: 999px;
    padding: 12px 14px;
    margin-bottom: 10px;
    border: 1px solid #dbdbdb;
    /* background: #fafafa; */
}

#button_submit {
    background: #9ec5f8;
    height:45px;
    border: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    margin-top: 25px;
    font-size: 16px;
}

#button_forgot_password {
    background: none;
    border: none;
    color: #000;
    font-size: 14px;
    cursor: pointer;
    margin: 6px 0 18px;
    font-size:17px;
    margin-bottom: 60px;
    padding-bottom: 3px;
    }

#button_sign_in_facebook {
    /* margin-top: 30px; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 45px;
    padding: 0;
    background: #fff;
}

    #create_account {
    background: #fff;
    border: 1px solid #1a5cff;
    color: #1a5cff;
    font-weight: 600;
    cursor: pointer;
    height:45px;
    padding-top: 8px;
    }

    #form_login{
        width: 100%;
        
    }

    #input_field_login, #input_field_password{
        height: 60px;
        border: 1px solid #dbdbdb;
        border-radius: 17px;
        padding-left: 15px;
        padding-bottom: 16px;
        font-size: 15px;
        margin-bottom: 12px;
        font-weight:500;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        letter-spacing: 0.5px;
        padding-right: 8px;
    }

    #footer{
        margin-top: 18px;
        /* padding-left: 60px; */
        width :100%;
        display: block;
        padding-bottom: 65px;
        /* margin: 20px; */
        /* margin-left: 186px; */
        /* display: flex;
        flex-direction: column; */
    }

    #footer_content{
        display: block;
        width:90%;
        /* align-self: center; */
        margin:0 auto;

    }

    a{
        text-decoration: none;
        color: black;
        font-size: 12px;
        opacity: 65%;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    }

    #page_footer_list{
        list-style: none;
        padding: 0;
        margin: 0px;
        display: flex;
        justify-content: center;
        /* gap:7px; */
        /* padding-left: 15px; */
        /* line-height: 1.5; */
        flex-wrap: wrap; 
        column-gap: 16px;
        row-gap: 13px; 
    }